:root {
  --primary-color: #bababa;
  --secondary-color:#8d8d8d;
  --accent1-color: #a6cbeb;
  --accent2-color: #0000FF;
  --main-color:#3a3a3a;
  --main-color2:#ffffff;

  --heading-font: 'Merriweather', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;
}



body {
  font-family: var(--paragraph-font);
  
}

/* Reset some default margin and padding */
body, html {
  margin: 0;
  padding: 0;
  
}
html{
  box-sizing: border-box;
 }
 
 *, *:before, *:after{
  box-sizing: inherit;
 }

/*styles to my navigation */
nav {
  padding: 10px;
  color: var(--main-color2);
  background: var(--main-color);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: var(--main-color2);
  text-decoration: none;
  font-size: 1.1rem;
}

nav a:hover {
  border-bottom: 2px solid var(--main-color2);
}

/* Apply styles to the header */
header {
  color: var(--main-color);
  padding: 10px 0;
  text-align: center;
  background-color:var(--main-color2); 
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.logo img {
  max-width: 100%;
  height: auto; 
}

/* Apply styles to the footer */
footer {
  background-color: var(--main-color2);
  color: var(--main-color);
  text-align: center;
  padding: 10px 0;
  border-color: #3a3a3a;
  
}

.logo2{
  color: var(--main-color);
}

.logo2 a{
  text-decoration: none;
  color: var(--main-color);
}

.logo2 a:hover{
  border-bottom: 2px solid var(--main-color);
}

.div1{
  background: var(--main-color2);
  font-size: x-large;
  padding: 20px;
}

.div2{
  text-align:center;
  background: var(--main-color2);
}

hr{
  background-color: var(--accent2-color);
  border-width: 2px;
}

.div3 { 
  background: var(--main-color2);
  text-align: center;
  top: -90px;
  position: relative;
}

.box {
  width: 100%; 
  
}

.border-bg{ 
  background: var(--main-color2);
  }

.box img{
   height: 60px; 
}

.box div{
  width: 30%;
  background: var(--accent2-color);
  display: inline-block;
  height: 60px;
  margin: 20px;
  padding: 20px;
  border-radius: 2px;
  border: 1px solid var(--main-color);
}

h1{
  background: var(--main-color2);
  font-size: large;
  font-weight: bold;
  text-align: justify;
  margin-left: 55px; 
}
.box-p1{
  background: var(--main-color2);
  font-size: large;
  text-align: left;
  margin-left: 55px; 
}
.side{
position: relative;
top: 0;
left: 40px;
width: 200px;
color: var(--accent2-color);
text-align: left;
z-index: 1;
}
.cta-btn2{
  background-color: var(--accent2-color);
  color: var(--main-color2);
  width: 200px;
  height: 60px;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
}

.cta-btn {
  display: none;
}

.div2 img{
  top:-100px;
  position: relative;
  z-index: 0;
  width:90%;
}
.div3 a{
  color: var(--accent2-color);
  background: var(--main-color2)
}

.lgn-btn{
  background-color: var(--accent2-color);
  color: var(--main-color2);
  height: 40px;
  cursor: pointer;
  font-size: large;
  border-radius: 4px;
  border: 0;
  margin: 9px;
}

.acc{
  margin: 9px;
}

.div-lgn{
  background: var(--main-color2);
  font-size: large;
  margin: 9px;
  font-family: var(--heading-font);
}

input:required{
  border-left: red solid 6px;
}

input:required:valid{
  border-left: green solid 6px;
}

/*Vechicle grid view*/
#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

#inv-display img {
  max-width: 100%;
  height: 200px;
  border-radius: 5px;
}

#inv-display a {
  text-decoration: none;
  color: inherit;
}

#inv-display li {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

#inv-display li:hover {
  transform: scale(1.05);

}



#inv-display h2 {
  margin-top: 10px;
  font-size: 1.2em;
}

#inv-display span, .description-container span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #4CAF50;
}      

/* Vehicle Description */
.inv-details {
  list-style: none;
  padding: 0;
}

.vehicle-details {
  width: 98%;
  margin: 10px;
  display: flex;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.description-container {
  flex: 1;
  padding-left: 20px; 
}

.description-container-right {
  flex: 1;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .vehicle-details {
      flex-direction: column;
  }

}


